{% extends "base.html" %}
{% load static %}
{% block title %}To Do List{% endblock %}
{% block stylesheet %} {% endblock %}
{% block content %}
<div id="bd">
    <br>
    <br>

<div class="row">
    <div class="col-4 offset-4">
        <div class="card" style="width: 100%;">
            <div class="card-header bg-info">
                <h3 class="text-center">
                    My To Do List
                </h3>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  <form class="form-inline" action="/todo/add/" method="POST" id="addtask">
                      {% csrf_token %}
                      <input class="form-control" style="width:85%" type="text" placeholder="Add a task" name="disc">
                      <button class="btn btn-success " type="submit"><i class="fas fa-plus"></i></button>
                  </form>
              </li>
              {% for object in object_list %}
                <li class="list-group-item">
                  {% if object.is_completed %}
                  <form class="form-inline updateList">
                      <input type="checkbox" value="{{ object.id }}" class="chk" checked>
                      <input type="text" name="" value="{{ object.description }}" placeholder="{{ object.description }}" class="form-control inputval" style="width:70%" disabled>
                      <button type="button" class="btn btn-primary  mr-2 editbtn" disabled>
                      <i class="fas fa-edit"></i>
                      </button>
                      <button type="button" class="btn btn-primary  deletebtn">
                      <i class="fas fa-times"></i>
                      </button>
                  </form>

                  {% else %}
                  <form class="form-inline updateList">
                      <input type="checkbox" value="{{ object.id }}" class="chk">
                      <input type="text" name="" value="{{ object.description }}" placeholder="{{ object.description }}" class="form-control inputval" style="width:70%" disabled>
                      <button type="button" class="btn btn-primary  mr-2 editbtn">
                      <i class="fas fa-edit"></i>
                      </button>
                      <button type="button" class="btn btn-primary  deletebtn">
                      <i class="fas fa-times"></i>
                      </button>
                  </form>


                  {% endif %}


              </li>

              {% endfor %}
              <li class="list-group-item">
                  <span class="float-left border bg-warning" id="amountCompleted">
                      Some tasks done
                  </span>
                  <span class="float-right">
                      <a role="button" class="btn btn-success" href="/todo/remove_completed/">
                          <span>Remove checked</span> <i class="fas fa-times"></i>
                      </a>
                  </span>
              </li>
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/todolist.js' %}"></script>
{% endblock %}